<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
	<link rel="stylesheet" href="othercss" type="text/css">
	<style type="text/css">
		li { color: #CC4444;}
		td { margin: 10px;padding: 10px;}
	</style>
</head>
<body>
	<div id="box">
	<table><tr><td width="270" style="border-width: 0px;">
    <a href="mainp"><div id="button">В главное меню</div></a>
    </td></tr></table>
	<h1>Добавление продукции</h1>
	<div id="text">
		<form action="" method="post">
			<table>
				{{ form }}
			</table>
			<input type="submit" value="Добавить" />
		</form>
	</div>
</body>	
</html>