<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
	<link rel="stylesheet" href="/../../othercss" type="text/css">
</head>
<body>
	<div id="box">
    <a href="/"><div id="button">В главное меню</div></a>
	<h1>Клиент № {{customer_id}}</h1>
	{% if data %}
	<br><div id="text">Основная информация:</div><br>
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader1 %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		<tr id="tr_item">
		{% for el in customerdata1 %}
			{% if el %}
			<td> {{el}} </td>
			{% else %}
			<td> &nbsp; </td>
			{% endif %}
		{% endfor %}
		</tr>
	</table>
	{% endif %}
	{% if data2 %}
	<br><div id="text">Банк:</div><br>
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader2 %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		<tr id="tr_item">
		{% for el in customerdata2 %}
			{% if el %}
			<td> {{el}} </td>
			{% else %}
			<td> &nbsp; </td>
			{% endif %}
		{% endfor %}
		</tr>
	</table>
	{% endif %}
	</div>
</body>	
</html>