<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
	<link rel="stylesheet" href="othercss" type="text/css">
	<script type="text/javascript" src="jquery"></script>
	<script type="text/javascript">
		window.onload = initAll;
		var basicChB="";
		var lpChB="";
		
		function initAll() {
			basicChB=document.getElementById("basiccheckboxes").innerHTML;
			lpChB=document.getElementById("lpcheckboxes").innerHTML;
			initContent();
			document.getElementById("id_type").onchange=function(){
				changeContent();
				return false;
			}
		}
		
		function initContent(){
			x=document.getElementById("id_type").selectedIndex
			if(x=='0'){
				$("#lpcheckboxes").hide(1);
			}
			else if(x=='1'){		
				$("#lpcheckboxes").show(1);
			}
			else if(x=='2'){
				$("#lpcheckboxes").hide(1);			
			}
		}
		
		function changeContent(){
			x=document.getElementById("id_type").selectedIndex
			if(x=='0'){
				$("#lpcheckboxes").hide(700);
			}
			else if(x=='1'){	
				$("#lpcheckboxes").show(700);
			}
			else if(x=='2'){
				$("#lpcheckboxes").hide(700);			
			}
		}
	</script>
</head>
<body>
	<div id="box">
	<table><tr><td width="270" style="border-width: 0px;">
    <a href="mainp"><div id="button">В главное меню</div></a>
    </td></tr></table>
	<h1>Клиенты</h1>
	<div id="text">
		<form action="" method="get">
				<tr>
					<th>{{ form.type.label }}</th>
					<td>{{ form.type.errors}}
					{{ form.type }}</td>
				</tr>
			<span id="basiccheckboxes">
				<tr>
					<th>{{ form.address.label }}</th>
					<td>{{ form.address.errors}}
					{{ form.address }}</td>
				</tr>
				<tr>
					<th>{{ form.phone.label }}</th>
					<td>{{ form.phone.errors}}
					{{ form.phone }}</td>
				</tr>
				<tr>
					<th>{{ form.fax.label }}</th>
					<td>{{ form.fax.errors}}
					{{ form.fax }}</td>
				</tr>
				<tr>
					<th>{{ form.email.label }}</th>
					<td>{{ form.email.errors}}
					{{ form.email }}</td>
				</tr>
			</span>
			<span id="lpcheckboxes">
				<tr>
					<th>{{ form.bank.label }}</th>
					<td>{{ form.bank.errors}}
					{{ form.bank }}</td>
				</tr>
				<tr>
					<th>{{ form.output_id1.label }}</th>
					<td>{{ form.output_id1.errors}}
					{{ form.output_id1 }}</td>
				</tr>
				<tr>
					<th>{{ form.account.label }}</th>
					<td>{{ form.account.errors}}
					{{ form.account }}</td>
				</tr>
				<tr>
					<th>{{ form.bik.label }}</th>
					<td>{{ form.bik.errors}}
					{{ form.bik }}</td>
				</tr>
				<tr>
					<th>{{ form.inn.label }}</th>
					<td>{{ form.inn.errors}}
					{{ form.inn }}</td>
				</tr>
				<tr>
					<th>{{ form.okonh.label }}</th>
					<td>{{ form.okonh.errors}}
					{{ form.okonh }}</td>
				</tr>
				<tr>
					<th>{{ form.okpo.label }}</th>
					<td>{{ form.okpo.errors}}
					{{ form.okpo }}</td>
				</tr>
			</span>
		<input type="submit" value="Просмотр" />
		</form>
	</div>
	{% if data %}
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		
		{% for row in info %}
			<tr id="tr_item">
			{% for el in row %}
				<td>
				{% if forloop.first %}
					{% if el %}
						<a href="customer/{{el}}/">{{el}}</a>
					{% else %}
						&nbsp; 
					{% endif %}
				{% else %}
					{% if el %}
				 		{{el}}
					{% else %}
						&nbsp; 
					{% endif %}
				{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
	{% endif %}
	</div>
</body>	
</html>