<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
    <link type="text/css" rel="StyleSheet" href="maincss" />
</head>
<body>
	<div id="mainbox">
	<h1>Служба доставки интернет-магазина</h1>
	<p id="text"> Перейдите в интересующий вас раздел</p>
	<center><table>
		<tr>
			<td><h2><center>Просмотр информации</center></h2></td>
			<td>&nbsp;</td>
			<td><h2><center>Внести изменения</center></h2></td>
		</tr>
		<tr>
			<td>
			<a href=""><div id="button">Недоставленные заказы</div></a>
			</td>
			<td width="30">&nbsp;</td>
			<td>
			<a href=""><div id="button">Добавить заказ</div></a>		
			</td>
		</tr>
		<tr>
			<td>
			<a href=""><div id="button">Продукция</div></a>
			</td>
			<td>&nbsp;</td>
			<td>
			<a href=""><div id="button">Доставить заказ</div></a>		
			</td>
		</tr>
		<tr>
			<td>
			<a href="clients"><div id="button">Клиенты</div></a>
			</td>
			<td>&nbsp;</td>
			<td>
			<a href="">&nbsp;</a>		
			</td>
		</tr>
	</table></center>

	</div>
</body>	
</html>