body {
	/*background-color: #f0f7ff;*/
	background-color: #f0eedf;
}

#mainbox {
background-color:#ffffff;
position:absolute;
top:50%;
left:50%;
margin-top:-300px;
margin-left:-430px;
height:540px;
width:750px;
border-radius: 20px;
text-align: center;
padding: 30px;
}

h1 {
	color			: #1b435e;
	font-weight		: bold;
	margin-top		: 0;
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
}

h2 {
	color			: 333333;
	font-weight		: bold;
	margin-top		: 0;
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
}

table {
	padding: 10px;
}

td {
	padding: 10px;
}

#text {
   color : #333333;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
}
   
a {
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-align: center;
   text-decoration: none;
}
a:hover {
   color: #ccc;
   }
   
#button {
   /*background: #65a9d7;*/
   background: #2d7da0;
   padding: 20px 10px;
   width :250px;
   height:30px;
   border-radius: 20px;
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
}
#button:hover {
   background: #28597a;
   color: #ccc;
}
#button:active {
   background: #1b435e;
}
