<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
	<link rel="stylesheet" href="othercss" type="text/css">
</head>
<body>
	<div id="box">
	<table><tr><td width="270" style="border-width: 0px;">
    <a href="/"><div id="button">В главное меню</div></a>
    </td></tr></table>
	<h1>Недоставленные заказы</h1>
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		
		{% for t in info %}
			<tr id="tr_item">
			{% for el in t %}
				<td>
				{% if forloop.first %}
					{% if el %}
						<b><a href="order/{{el}}/">{{el}}</a></b>
					{% else %}
						&nbsp; 
					{% endif %}
				{% else %}
					{% if el %}
				 		{{el}}
					{% else %}
						&nbsp; 
					{% endif %}
				{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
	</div>
</body>	
</html>