<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
	<link rel="stylesheet" href="/../../othercss" type="text/css">
</head>
<body>
	<div id="box">
	<table><tr>
    <td width="270" style="border-width: 0px;"><a href="/../mainp"><div id="button">В главное меню</div></a></td>
    <td width="270" style="border-width: 0px;"><a href="/../orders"><div id="button">Заказы</div></a></td>
    </tr></table>
    <br />
	<h1>Заказ № {{order_id}}</h1>
	<br><div id="text">Основная информация:</div><br>
	{% if data %}
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader1 %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		<tr id="tr_item">
		{% for el in orderdata1 %}
		<td>
			{% ifequal forloop.counter 2 %}
				{% if el %}
				<a href="/../../customer/{{el}}/">{{el}}</a>
				{% else %}
				&nbsp;
				{% endif %}
			{% else %}
				{% if el %}
				{{el}}
				{% else %}
				&nbsp;
				{% endif %}			
			{% endifequal %}
		</td>
		{% endfor %}
		</tr>
	</table>
	<br><br><div id="text">График доставки:</div><br>
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader2 %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		<tr id="tr_item">
		{% for el in orderdata2 %}
			{% if el %}
			<td> {{el}} </td>
			{% else %}
			<td> &nbsp; </td>
			{% endif %}
		{% endfor %}
		</tr>
	</table>
	<br><br><div id="text">Пункт доставки:</div><br>
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader3 %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		<tr id="tr_item">
		{% for el in orderdata3 %}
			{% if el %}
			<td> {{el}} </td>
			{% else %}
			<td> &nbsp; </td>
			{% endif %}
		{% endfor %}
		</tr>
	</table>
	{% endif %}
	</div>
</body>	
</html>