body {
	background-color: #f0eedf;
}

#box {
background-color:#ffffff;
position:absolute;
left:50%;
margin-left:-500px;
width:1100px;
text-align: center;
padding: 10px;
}

h1 {
	color			: #1b435e;
	font-weight		: bold;
	margin-top		: 0;
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
}

#bt {
border-collapse:collapse;
}

td {
border:1px solid #999999;
padding: 4px;
}

#text {
   color : #333333;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-align: left;
}

a {
   color: #715456; 
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-align: center;
   text-decoration: none;
}  
a:hover {
   color: #614446;
}

#button {
   /*background: #65a9d7;*/
   background: #2d7da0;
   padding: 20px 10px;
   width :250px;
   height:30px;
   border-radius: 20px;
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
}
#button:hover {
   background: #28597a;
   color: #ccc;
}
#button:active {
   background: #1b435e;
}

#tr_header {
	background-color: #2d7da0;
	color: #ffffff;
	font-family: Helvetica, Arial, Sans-Serif;
}

#tr_item {
	background-color: #ffffff;
	font-family: Helvetica, Arial, Sans-Serif;
/*	onmouseout="style.backgroundColor='#ffffff';" onmouseover="style.backgroundColor='#f0f7ff'"*/
}
#tr_item:hover {
	background-color: #f0eedf;
}
