<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Курсовик по курсу БД</title>	
	<link rel="stylesheet" href="othercss" type="text/css">
</head>
<body>
	<div id="box">
	<table><tr><td width="270" style="border-width: 0px;">
    <a href="/"><div id="button">В главное меню</div></a>
    </td></tr></table>
	<h1>Продукция</h1>
	<div id="text">Сортировать по:&emsp;&emsp;В порядке:
		<form action="" method="get">
			<select name="ctype">
				<option value="0">id</option>
	            <option value="1">имени</option>
	            <option value="2">стоимости</option>
            </select>
            &emsp;&emsp;&emsp;&emsp;
            <select name="ordertype">
				<option value="0">убывания</option>
	            <option value="1">возрастания</option>
            </select>
            &emsp;
			<input type="submit" value="Показать"/>
		</form>
	</div>
	{% if data %}
	<table id="bt" width="1080">
		<tr id="tr_header">
		{% for hel in infoheader %}
			<td> {{ hel }} </td>
		{% endfor %}
		</tr>
		
		{% for t in info %}
			<tr id="tr_item">
			{% for el in t %}
				{% if el %}
				<td> {{el}} </td>
				{% else %}
				<td> &nbsp; </td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
	{% endif %}
	</div>
</body>	
</html>